In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
marinduque_hh_url = "https://github.com/DineshOng/public-dump/raw/master/csmodel/hpq_hh_marinduque.csv"
marinduque_mem_url = "https://github.com/DineshOng/public-dump/raw/master/csmodel/hpq_mem_marinduque.csv"
palawan_hh_url = "https://github.com/DineshOng/public-dump/raw/master/csmodel/hpq_hh_palawan.csv"
palawan_mem_url = "https://github.com/DineshOng/public-dump/raw/master/csmodel/hpq_mem_palawan.csv"

In [2]:
marinduque_hh_url = "hpq_hh_marinduque.csv"
marinduque_mem_url = "hpq_mem_marinduque.csv"
palawan_hh_url = "hpq_hh_palawan.csv"
palawan_mem_url = "hpq_mem_palawan.csv"

In [3]:
marinduque_hh_df = pd.read_csv(marinduque_hh_url)
marinduque_mem_df = pd.read_csv(marinduque_mem_url)

C:\Users\Unknown\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (17,41,95,101,111,113,229,244,253,260,263,302,308,311,314,317,320,324,327,331,334,361,366,376,396,403,438,442,446,450,454,458,462,466,476) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\Unknown\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (11,14,15,16,17,18,40,49,73) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
palawan_hh_df = pd.read_csv(palawan_hh_url)
palawan_mem_df = pd.read_csv(palawan_mem_url)

C:\Users\Unknown\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (17,33,95,98,101,113,229,244,253,260,263,277,302,308,311,314,317,320,324,327,331,334,356,361,366,371,391,403,424,438,442,446,450,454,458,462,466,476) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\Unknown\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (5,12,15,17,18,19,20,21,50,64,74) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [14]:
print(palawan_hh_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105636 entries, 0 to 105635
Columns: 481 entries, main.id to end_time
dtypes: float64(248), int64(179), object(54)
memory usage: 387.7+ MB
None

In [6]:
palawan_mem_df.head()

,main.id,memno,nucfam,reln,reln_o,sex,birth_date,age,age_yr,birth_reg,...,mocrimind,mocrim,mtheftloc,mrapeloc,minjurloc,mcarnaploc,mcattrustlloc,mocrimloc,mnutind,mnutind_date
0,69279.0,15.0,1,1.0,NaN,1,6/16/1956,57.973990,57,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,69279.0,16.0,1,2.0,NaN,2,8/28/1967,46.776181,46,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,69279.0,17.0,1,3.0,NaN,2,11/18/1992,21.549624,21,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,69279.0,18.0,1,3.0,NaN,1,4/28/1998,16.109514,16,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,69279.0,19.0,1,3.0,NaN,1,10/8/2002,11.663244,11,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
marinduque_df = pd.merge(marinduque_hh_df, marinduque_mem_df, how='inner', on=['main.id'])
marinduque_df

,main.id,main.deviceSerial,main.transferDate,androidDescription,geopoint_hh_ind,geopoint_hh.longitude,geopoint_hh.latitude,geopoint_hh.altitude,geopoint_hh.accuracy,mun,...,mocrimind,mocrim,mtheftloc,mrapeloc,minjurloc,mcarnaploc,mcattrustlloc,mocrimloc,mnutind,mnutind_date
0,199716,1bcaf54cb32e8e5d,54:52.9,40 06 99 020 99 2,1,122.084077,13.314992,-0.5,7.3,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,199716,1bcaf54cb32e8e5d,54:52.9,40 06 99 020 99 2,1,122.084077,13.314992,-0.5,7.3,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,199716,1bcaf54cb32e8e5d,54:52.9,40 06 99 020 99 2,1,122.084077,13.314992,-0.5,7.3,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,199716,1bcaf54cb32e8e5d,54:52.9,40 06 99 020 99 2,1,122.084077,13.314992,-0.5,7.3,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,12/31/2013
4,207325,a6c342a12f3177ce,57:38.1,40 06 99 013 3 1,1,122.113888,13.377385,33.7,7.2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204422,1636248,46ac7f199d40c4c1,55:27.4,40 01 99 012 4 4364,1,121.900725,13.425803,152.5,9.6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204423,1636248,46ac7f199d40c4c1,55:27.4,40 01 99 012 4 4364,1,121.900725,13.425803,152.5,9.6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204424,1636248,46ac7f199d40c4c1,55:27.4,40 01 99 012 4 4364,1,121.900725,13.425803,152.5,9.6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204425,1636248,46ac7f199d40c4c1,55:27.4,40 01 99 012 4 4364,1,121.900725,13.425803,152.5,9.6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204426,1636248,46ac7f199d40c4c1,55:27.4,40 01 99 012 4 4364,1,121.900725,13.425803,152.5,9.6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
marinduque_df.groupby('sex').size()

sex
1    101683
2    102744
dtype: int64

In [9]:
palawan_df = pd.merge(palawan_hh_df, palawan_mem_df, how='inner', on=['main.id'])
palawan_df

          main.id main.deviceSerial  ... mnutind mnutind_date
0       1007480.0  56d6ba087b5d892b  ...     NaN          NaN
1       1007480.0  56d6ba087b5d892b  ...     NaN          NaN
2       1007480.0  56d6ba087b5d892b  ...     2.0     1/1/2014
3       1007480.0  56d6ba087b5d892b  ...     2.0     1/1/2014
4       1904766.0  ca6cfec1e8c3cf25  ...     NaN          NaN
...           ...               ...  ...     ...          ...
455427    91967.0  972f63d91a768692  ...     NaN          NaN
455428    91967.0  972f63d91a768692  ...     NaN          NaN
455429    91967.0  972f63d91a768692  ...     NaN          NaN
455430    91967.0  972f63d91a768692  ...     NaN          NaN
455431    91967.0  972f63d91a768692  ...     NaN          NaN

[455432 rows x 563 columns]

In [26]:
marinduque_df["island"] = "M"
marinduque_df.head()

   main.id main.deviceSerial main.transferDate  ... mnutind  mnutind_date  island
0   199716  1bcaf54cb32e8e5d           54:52.9  ...     NaN           NaN       M
1   199716  1bcaf54cb32e8e5d           54:52.9  ...     NaN           NaN       M
2   199716  1bcaf54cb32e8e5d           54:52.9  ...     NaN           NaN       M
3   199716  1bcaf54cb32e8e5d           54:52.9  ...     2.0    12/31/2013       M
4   207325  a6c342a12f3177ce           57:38.1  ...     NaN           NaN       M

[5 rows x 563 columns]

In [27]:
palawan_df["island"] = "P"
palawan_df.head()

     main.id main.deviceSerial main.transferDate  ... mnutind  mnutind_date  island
0  1007480.0  56d6ba087b5d892b           46:12.1  ...     NaN           NaN       P
1  1007480.0  56d6ba087b5d892b           46:12.1  ...     NaN           NaN       P
2  1007480.0  56d6ba087b5d892b           46:12.1  ...     2.0      1/1/2014       P
3  1007480.0  56d6ba087b5d892b           46:12.1  ...     2.0      1/1/2014       P
4  1904766.0  ca6cfec1e8c3cf25           52:48.4  ...     NaN           NaN       P

[5 rows x 564 columns]

In [1]:
df = marinduque_df.append(palawan_df, ignore_index=True)
df

NameError: ignored

In [22]:
palawan_df['sex'].unique()

array([1, 2, '1', '2', '7/23/2003'], dtype=object)

In [23]:
palawan_df['sex'].value_counts()

1            230213
2            217009
1              4205
2              4004
7/23/2003         1
Name: sex, dtype: int64